.form-group{
    margin-top: 1rem;
}
.col-md-3{
    
    padding: 30px 20px 20px 20px;
    
}
.col-md-9{
    
    padding: 30px 20px 20px 20px;
   
}
.col-md-3:hover { 
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 2px 

}
.col-md-9:hover { 
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 2px 

}
.reg{
    padding-bottom: 10px;
}
.btn{
 margin-top: 1rem;
 margin-left: 9rem !important;
}
.myform{
    margin-top: 1rem;
    margin-left: 9rem !important;

}


